html {box-sizing: border-box;}
*, *::before, *::after {box-sizing: inherit;}

body {
    width: 1000px;
    margin: auto;
}

ul {
    list-style: none;
}

#subscribe {
    display: flex;
    justify-content: flex-end;
}

#subscribe > ul  {
    display: flex;
}

#subscribe > ul > li {
    justify-content: space-around;
    margin-right: 20px;
}

nav {
    display: flex;
    justify-content: center;
    

}

nav > ul {
    display: flex;
}

nav > ul > li {
    justify-content: space-evenly;
    margin-right: 120px;
}

#jumbotron {
    width: 1000px;
    height: 500px;
    border: 1px solid black;
}
#wrap-1 {
    display: flex;
}
article {
    height: 350px;
    width: 250px;
    border: 1px solid black;
    justify-content: space-evenly;
}

#skateboarders {
    width: 1000px;
}

section {
    width: 300px;
    height: 140px;
    float: left;
    padding: 1px;
}

section:nth-child(3) {
    width: 600px;
}

section:nth-child(4) {
    height: 280px;
    margin-top: -140px;
}

section > div {
    color: white;
    background: black;
    height: 100%;
    width: 100%;
}

