html {box-sizing: border-box;}
*, *::before, *::after {box-sizing: inherit;}

body {
    width: 1000px;
    height: auto;
    margin: auto;
}

ul {
    list-style: none;
}
/* This CSS controls the subscribe buttons on the top of the page */
#subscribe {
    display: flex;
    justify-content: flex-end;
}

#subscribe > ul  {
    display: flex;
}

#subscribe > ul > li {
    justify-content: space-around;
    margin-right: 20px;
}
/* add styling to the nav bar on top of the jumbotron */
nav {
    display: flex;
    justify-content: center;
}

nav > ul {
    display: flex;
}
/* *Reminder to include inner divs in HTML for both the background and the logo */
nav > ul > li {
    justify-content: space-evenly;
    margin-right: 120px;
}

#jumbotron {
    width: 1000px;
    height: 500px;
    border: 1px solid black;
}
/* Radio button  make sure changes here don't affect comment section*/

fieldset {
    border: none;
}

#radio {
    display: flex;
    justify-content: center;
    
}

#wrap-1 {
    display: flex;
    justify-content: space-evenly;
}
.article {
    height: 350px;
    width: 300px;
    border: 1px solid black;
    margin-right: 10px; 
    flex-grow: 1;
    
}
/* This section is the layout for the skateboarder pictures */
#skateboarders {
    width: 990px;
}

section {
    width: 330px;
    height: 154px;
    float: left;
    padding: 5px;
}

section:nth-child(3) {
    width: 660px;
}

section:nth-child(4) {
    height: 308px;
    margin-top: -154px;
}

section > div {
    border: 1px solid black;
    background: white;
    height: 100%;
    width: 100%;
}

#skateboards {
    display: flex;
    justify-content: space-evenly;
    width: 1000px;
    height: 260px;
    border: 1px solid black;
}

.skateboard-pic {
    flex-grow: 1;
    height: 260px;
    width: 60px;
    border: 1px solid black;
}

/* Footer styles */

footer {
    display: flex;
}

#customer-info {
    flex-direction: column;
}

#customer-info > input {
    line-height: 25px;
    width: 420px;
}
#customer-info > textarea {
    width: 420px;
}

/* This is the CSS style for the SUBMIT button */

button {
    height: 30px;
    width: 240px;
    color: white;
    background: rgb(154, 45, 49);
    float: right;
}
/*  */
::placeholder {
    color: rgb(177, 177, 177);
    padding-top: 4px;
    padding-left: 4px;
}

#sub2 > ul {
    display: flex;   
}

#sub2 > ul > li {
    margin-right: 5px;
}