html {box-sizing: border-box;}
*, *::before, *::after {box-sizing: inherit;}

body {
    font-family: Arial, Helvetica, sans-serif;
    width: 1000px;
    margin: auto;
    /* the image */
    background-image: url("assets/bg.jpg");

    /* Set to full height */
    height: 100%;

    /* Center the image */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
}
/* grab all these tags and remove the styling */

ul {
    list-style: none;
}

a:visited {
    text-decoration: none;
}

#wrapper::before {
    content: "SKATEBOARDERS";
    font-size: 10px;
    padding: 30px 40px 30px 0px;
    padding-bottom: 30px;
    width: 250px;
    text-align: right;
    color: white;
    position: relative;
    right: 135px;
    top: 975px;
    background-image: url("assets/Arrow_facing_right_-_Red.svg.png");
 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* This CSS controls the subscribe buttons on the top of the page */

#psubscribe {
    font-size: 15px;
    color: white;
    position: relative;
    top: 10px;
}

#psubscribe > i {
    background: white;
    border-radius: 100%;
    font-size: 3px;
    position: relative;
    bottom: 4px;
}

#subscribe {
    display: flex;
    justify-content: flex-end;
}

#subscribe > ul  {
    display: flex;
}



#facebook {
    color: rgb(59, 89, 152);
    /* background-color: white; */
    height: 10px;
    border-radius: 100%;
}

#rss {
    color: rgb(238, 128, 47);

}

#twitter {
    color: rgb(29, 161, 242)

}

#youtube {
    color: rgb(230, 33, 23)

}

/* This is the styling for the elipses on the side of subscribe */
#elipses {
    font-size: 3px;
    position: relative;
    right: 5px;
    top: 5px;
}

#elipses > li {
    background: white;
}

#subscribe > ul > li {
    font-size: 30px;
    margin-right: 20px;
}
/* add styling to the nav bar on top of the jumbotron */
nav {
    justify-content: center;
}

nav > ul {
    display: flex;
}
/* *Reminder to include inner divs in HTML for both the background and the logo */
nav > ul > li {
    font-size: 12px;
    width: 140px;
    height: 35px;
    background-color:  rgb(153,46,49);
    flex-grow: 1;
    text-align: center;
    margin-right: 120px;
    text-decoration: none;
    padding-top: 11px;
    margin: 9px 14px -10px -5px;
    position: relative;
    right: 10px;
    border-bottom: 2px solid rgb(125, 123, 120);

}

nav > ul > li > a {
    font-size: 16px;
    margin-top: 5px;
    color: white;
    text-decoration: none;
    
}



#jumbotron {
    width: 1000px;
    height: 320px;
    border: 10px solid rgb(252,252,252)  ;
    /* Add background image */
    background-image: url("assets/top-image.png");

    /* center the background */
    background-position:   37% 25%;

    z-index: 1;
    position: relative;
}

/* place logo inside the jumbotron */

#logo > img {
    margin: 41px 0px 0px 25px;
    /* opacity: 1; */
    z-index: 3;
    position: relative;
    bottom:325px;
}
    

/* adds a grid over Jumbotron image */
#grid {
    width: 985px;
    height: 300px;
    background-image: url("assets/grid.png");
    opacity: 0.5;
    z-index: 2;
    position: relative;
}
fieldset {
    border: none;
}

/* Radio button  make sure changes here don't affect comment section*/

#radio {
    display: flex;
    justify-content: center;
    
}

#wrap-1 {
    display: flex;
    justify-content: space-evenly;
}
.article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 350px;
    width: 300px;
    background: white;
    border: 10px solid white;
    margin-right: 10px; 
    margin-bottom: 50px;
    flex-grow: 1;

}

/* This affixes the [READ MORE] to the bottom center of each article */

.article  > a {
    align-self: center;
}

.article > h2 {
    margin-bottom: 0px;
}

.date {
    color: grey;
    padding:0;
    margin-top: 5px;
    margin-bottom: -15px;
}

#more1 {
    margin-bottom: 13px;
}

#more2 {
    margin-top: -13px;
}

#more3 {
    margin-top: 35x;
    padding-top: 30px;
}

/* This section is the layout for the skateboarder pictures */
#skateboarders {
    width: 990px;
}

section {
    width: 330px;
    height: 220px;
    float: left;
    padding: 5px;
}

section:nth-child(3) {
    width: 660px;
    height: 300px;
    /* background-image: url("assets/sk8er-1.png"); */
}



section:nth-child(4) {
    height: 308px;
    height: 517px;
    margin-top: -219x;
    position: relative;
    bottom: 220px;
    
}


/* This section applies the skater pics to the background of each section */

#skater-1 > div {
background-image: url("assets/sk8er-4.png");
}

#skater-1 > div > h2 {
    opacity: 0.8;
}

#skater-2 > div {
  background-image: url("assets/sk8er-3.png");
  color: white;
  font-size: 30px;
  text-align: center;
}

#skater-2 > div > h2 {
    opacity: 0.8;
}

section:nth-child(3) > div {
    background-image: url("assets/sk8er-1.png");
}

section:nth-child(3) > div > h2 {
    margin-top: 100px;
    opacity: 0.8;;
}


#skater-4 > div{
   background-image: url("assets/sk8er-2.png");
   background-position: 75% 50%;
} 

#skater-4 > div >h2 {
    margin-top: 250px;
    opacity: 0.8;
}
/* Centers the pictures */
.skateboarder {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: bolder;
    font-size: 30px;
    text-align: center;
    
    color: white;
}

/*  */
section > div {
    border: 10px solid white;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

#skateboards {
    display: flex;
    background: white;
    width: 995px;
    height: 280px;
    margin: 0px 5px 40px -5px;
    position: relative;
    bottom: 190px;
    padding: 10px 20px 0px 40px;
    border-radius: 5%
}

.skateboard-pic {
    flex-grow: 1;
    height: 260px;
    width: 60px;
    /* border: 1px solid black; */
}

/* Footer styles */

footer {
    display: flex;
    position: relative;
    bottom: 180px;
    background: white;
}

#customer-info {
    flex-direction: column;
    padding: 10px 0px 5px 0px;
}

#customer-info > input {
    box-shadow: 0px 0px 2px 0px;
    line-height: 35px;
    width: 420px;
    margin-bottom: 15px;
}
#customer-info > textarea {
    box-shadow: 0px 0px 2px 0px;
    width: 420px;
}

#contact {
   
    padding-left: 50px;
    padding-right: 50px;
}

#sub2 {
    font-size: 20px;
    position: relative;
    right: 35px;
}

#sub2 > ul > li {
    padding-right: 5px;
}

/* This is the CSS style for the SUBMIT button */

button {
    height: 30px;
    width: 240px;
    color: white;
    background: rgb(154, 45, 49);
    float: right;
    margin-top: 10px;

}
/*  */
::placeholder {
    color: rgb(177, 177, 177);
    padding-top: 4px;
    padding-left: 4px;
}

#sub2 > ul {
    display: flex;   
}

#sub2 > ul > li {
    margin-right: 5px;
}


/* Responsive Rules */

@media only screen and (max-width: 600px) {
    body {
        width: 100%;
    }

    #jumbotron {
        display: none;
    }

    #radio {
        display: none;
    }



    #psubscribe {
        display: none;
    }

    #elipsis > li > i {
        display: none;
    }


    #subscribe {
        display: flex;
        flex-direction: column;
        position: relative;
        top: 8em;
        left: 4em;
    }
 
  
    nav > ul{
       
        flex-direction: column;
        height: 30px;
        font-size: 5px;
        margin: 0px;
        position: relative;
        bottom: 10em;
        left: 25em;
        margin-bottom: 50px;
    }

    nav > ul > li > a {
        font-size: 10px;
        width: 100%;
    }

    #skateboarders {
        display: none;
    }

    #skateboards {
        display: none;
    }

    #contact {
        display: none;
    }

    #wrap-1 {
        display: flex;
        flex-direction: column;
        margin: 25%;
        
    }

    .article {
        height: 50%;
        width: 80%;
        font-size: 10px;
        
    }

    .article > h2 {
        font-size: 10px;
    }
    footer {
        position: relative;
        top: 1em;
    }
    #customer-info {
        height: 25%;
        width: 50%;
        
    }
}

